<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tierra_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tierra_icon"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TierraHomes"
        android:windowSoftInputMode="adjustNothing"
        tools:targetApi="31">

        <!-- Keep LoadingScreenActivity as the launcher activity -->
        <activity
            android:name=".LoadingScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Keep these activities exported as they were in your original manifest -->
        <activity android:name=".LoginScreenActivity" android:exported="true" />
        <activity android:name=".SignupScreenActivity" android:exported="true" />
        <activity android:name=".ForgotPasswordScreenActivity" android:exported="false" />
        <activity android:name=".BudgetAndLocationActivity" android:exported="true" />
        <activity android:name=".MainScreenActivity" android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="uiMode|orientation|screenSize"/>

    </application>

</manifest>